.footer{
  text-align: center;
  color: #aaa;
  font-weight: 300;
}

a {
  color: #1db954;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee, .github {
  height: 50px;
  border-radius: 7px;
}

.social-badges{
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
